@{
    ViewData["Title"] = "Crash Details";
}

@model utah_crashes_table

<div class="row m-1 p-1">

    <div class="col-6">
        <h1></h1>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Crash Id
                <span class="badge badge-secondary">@Model.CRASH_ID</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Time of the crash
                <span class="badge badge-secondary">@Model.CRASH_DATETIME</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Main road
                <span class="badge badge-secondary">@Model.MAIN_ROAD_NAME</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                City
                <span class="badge badge-secondary">@Model.COUNTY_NAME</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                County
                <span class="badge badge-secondary">@Model.CITY</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Severity
                <span class="badge badge-secondary">@Model.CRASH_SEVERITY_ID</span>
            </li>
        </ul>


    </div>
    <div class="col-6">
        <h4 class="pro-d-title">
            <a asp-controller="Home" asp-action="AboutML" >
                Our prediction for this Accident
            </a>
        </h4>
        <p>
            Based on our machine learning model and the information provided about this crash, this crash
            should have been a severity of {input severity score here}. A score of {input severity score}
            means that our prediction model predicted that the crash would have been {input severity description}.
        </p>
        <br/>
        <p>
            Test this crash with different inputs to see how the severity prediction changes. (i.e. Changing if
            the driver was distracted or not can change the severity prediction)

            {insert a link to the predictor and populate it with this crashes information}
        </p>
        

    </div>
