@*Group 3-10, 4/7/22*@

@{
    ViewData["Title"] = "Search Summaries";
}


@model CrashListViewModel

    <h1 style="text-align: center"><b>Search Summaries</b></h1><br />

<form style="text-align:center" method="post" class="row g-3 mt-2">
    <div class="col-md-2" style="font-size:25px">
        <select class="dropdown-large" asp-for="Search.Topic">
            <option value="City">City</option>
            <option value="County">County</option>
            <option value="Road">Road</option>
            <option value="CrashId">Crash Id</option>
            <option value="Severity">Severity</option>
        </select>
    </div>
    <div class="col-md-7"> <input asp-for="Search.SearchTerm" class="form-control" placeholder="Search"> </div>
    <div class="col-md-3"> <button type="submit" asp-controller="Home" asp-action="SearchSummary" class="btn btn-secondary btn-block" style="background-color: blue">Search Results</button> </div>
</form>

<div class="row m-1 p-1">

    <div class="col-10">



        <table class="table table-bordered table-striped">

            <thead class="font-weight-bold">
                <tr>
                    <td></td>
                    <td>Id</td>
                    <td>Crash DateTime</td>
                    <td>Main Road Name</td>
                    <td>County</td>
                    <td>City</td>
                    <td>Severity</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model.Crashes)
                {
                    <tr>
                        <td><a class="btn btn-sm" asp-controller="Home" asp-action="Details" asp-route-CrashId="@c.CRASH_ID" style="background-color: blue; color: white">More Details</a></td>

                        <td>@c.CRASH_ID</td>
                        <td>@c.CRASH_DATETIME</td>
                        <td>@c.MAIN_ROAD_NAME</td>
                        <td>@c.COUNTY_NAME</td>
                        <td>@c.CITY</td>
                        <td>@c.CRASH_SEVERITY_ID</td>

                        <td><a class="btn btn-sm" asp-controller="Home" asp-action="Edit" asp-route-CrashId="@c.CRASH_ID" style="background-color: lightgreen; color: white">Edit</a></td>
                        <td><a class="btn btn-sm" asp-controller="Home" asp-action="Delete" asp-route-CrashId="@c.CRASH_ID" style="background-color: darkorange; color: white">Delete</a></td>
                    </tr>
                }
            </tbody>

        </table>
        <br />
    </div>

</div>